#
# Python packages used in development
#

# TODO: change this back to `invoke>=0.13` if/when util.bytes_to_read fix gets merged
git+https://github.com/Xion/invoke.git#egg=invoke

# Dependencies used directly by automation tasks
pathlib
semver
toml
